<h1>Formulário para cadatrar pessoa</h1>
<form action="/add-pessoa" method="POST">
    <label>Nome</label>
    <input type="text" name="nome"><br><br>

    <label>E-mail</label>
    <input type="text" name="email"><br><br>

    <button type="submit">Cadastrar</button>
</form>